/* - Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)
- Dark Blue: hsl(218, 23%, 16%) 
- Light Cyan: hsl(193, 38%, 86%)
- Neon Green: hsl(150, 100%, 66%)*/

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
}

.container {
  background-color: hsl(217, 19%, 24%);
  display: inline-block;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  position: relative;
}

.advice {
  padding: 0;
  margin: 0;
  color: hsl(193, 38%, 86%);
  margin: 30px 0 30px;
}

.subtext {
  color: hsl(150, 100%, 66%);
}

.divider {
  width: 100%;
  display: block;
  margin: 30px 0 30px;
}
